@mixin general-padding{
    padding-left: 25px;
    padding-right: 25px;
}

@mixin margin-top-sections{
    margin-top: 160px;
}

// ****************
// ANIMATIONS
// ****************

@mixin animation-mixin($name) {
    @keyframes #{$name} {
        from {
            transform: translateX(0);
            opacity: 1;
        } 
        
        to {
            transform: translateX(-80%);
            opacity: 0;
        }
    }
}

@mixin animation-moveIn {
    @keyframes animation-moveIn {
        from {
            transform: translateX(-100%);
            opacity: .2;
        } 
        
        to {
            transform: translateX(0%);
            opacity: 1;
        }
    }
}

@mixin animation-zoomOut{
    @keyframes animation-zoomOut{
        from{
            transform: scale(1);
        }
        to{
            transform: scale(0);
        }
    }
}

@mixin animation-zoomIn{
    @keyframes animation-zoomIn{
        from{
            transform: scale(0);
        }
        to{
            transform: scale(1);
        }
    }
}

@mixin animation-fadeOut{
    @keyframes animation-fadeOut{
        from{
            opacity: 1;
        }

        to{
            opacity: .2;
        }
    }
}

@mixin animation-fadeIn{
    @keyframes animation-fadeIn{
        from{
            opacity: .2;
        }

        to{
            opacity: 1;
        }
    }
}

@mixin animation-arrowOpen{
    @keyframes animation-arrowOpen{
        25%{
            transform: translateY(-5px) rotate(0deg);
            
        }

        // 50%{
        //     transform: rotate(0deg);
        // }

        75%{
            transform: translateY(0px) rotate(0deg);
        }
    }
}


@mixin animation-openHeader {
    @keyframes animation-openHeader {
        from {
          transform: translateY(-100%);
        }
        to {
          transform: translateY(0);
        }
      }
    
}

@mixin animation-openMenu{
    @keyframes animation-openMenu {
        from {
          transform: translateY(-100%);
          opacity: .2;
        }
        to {
          transform: translateY(0);
          opacity: 1;
        }
      } 
}

// ****************
// HEADER ANIMATION
// ****************
@mixin animation-loadedPage-nav{
    @keyframes animation-loadedPage-nav {
        from {
          transform: translateY(-100%);
        }

        to {
          transform: translateY(0);
        }
      } 
}

@mixin animation-loadedPage-headerImage{
    @keyframes animation-loadedPage-headerImage {
        from {
          opacity: 0;
        }

        to {
          opacity: 1;
        }
      } 
}

@mixin animation-loadedPage-headerTitle{
    @keyframes animation-loadedPage-headerTitle {
        from {
            transform: translateX(100%);
            opacity: 1;
        }

        to {
            transform: translateX(0);
            opacity: 1;
        }
      } 
}

@mixin animation-loadedPage-headerDesc{
    @keyframes animation-loadedPage-headerDesc {
        from {
            transform: translateX(-100%);
            opacity: 1;
        }

        to {
            transform: translateX(0);
            opacity: 1;
        }
      } 
}


    
