// ****************
// FONT & FEATURES
// ****************
$font-family: 'Rubik', sans-serif;
$font-bold: (
    'bold': 500,
    'medium': 400,
    'regular': 300
);

// ****************
// COLORS 
// ****************
$c-veryDarkBlue: hsl(229, 31%, 21%);
$c-softBlue: hsl(231, 69%, 60%);
$c-darkGrayishBlue: hsl(227, 6%, 32%);
$c-grayishBlue: hsl(229, 8%, 60%);
$c-softGrayishBlue: hsl(240, 14%, 95%);
$c-softRed: hsl(0, 94%, 66%);
$c-white: hsl(0, 0%, 100%);
$c-green: hsl(125, 61%, 43%);