@use '../utilities/variables' as v;
@use '../utilities/functions' as f;
@use '../utilities/mixins' as m;



.button{
    display: inline-block;
    padding: .8rem;
    background-color: v.$c-softBlue;
    border: 2px solid transparent;
    color: v.$c-white;
    border-radius: 5px;
    box-shadow: 0px 5px 5px f.hsla-color(v.$c-softBlue, .25);
    transition: all .2s ease-in;

    &:hover{
        border-color: v.$c-softBlue;
        color: v.$c-softBlue;
        background-color: v.$c-white;
    }


    &--secundary{
        background-color: v.$c-softGrayishBlue;
        color: v.$c-darkGrayishBlue;

        &:hover{
            background-color: v.$c-white;
            color: v.$c-darkGrayishBlue;
            border-color: v.$c-darkGrayishBlue;
        }
    }

    &--login{
        border-color: v.$c-softRed;
        background-color: v.$c-softRed;
        padding: .5rem 1.5rem;
        text-transform: uppercase;
        letter-spacing: .1rem;

        &:hover{
            border-color: v.$c-softRed;
            color: v.$c-softRed;
        }
    }

    &--features{
        display: none;
        @include m.mq(md){
            display: inline-block;
        }
    }
}