@use '../utilities/variables' as v;
@use '../utilities/mixins' as m;
@use '../utilities/functions' as f;



.picture-container{
    width: 100%;
    max-width: f.toRem(550);
    position: relative;
    opacity: 0;
    @include m.animation-loadedPage-headerImage;
    animation: animation-loadedPage-headerImage 1.5s .5s forwards; //First duration, second delay

    @include m.mq(md){
        min-width: 50%;

    }

    &::before{
        content: "";
        display: inline;
        position: absolute;
        top: 20%;
        bottom: 0px;
        background-color: v.$c-softBlue;

    }
    

    &--right{
        align-self: flex-end;

        @include m.mq(sm){
            order: 2;
            min-width: 50%;
        }
        &::before{
            right: 0;
            left: 20%;
            border-radius: 50% 0 0 50%;
            }
    }

    &--left{
        &::before{
            left: -25px;
            right: 20%;
            left: f.toRem(-120);
            bottom: -15%;
            border-radius: 0 50% 50% 0;
        }
    }
}

.picture-img{
    width: 100%;
    z-index: 999;
    object-fit: cover;
    display: inline-block;
    position: relative;

    &::before{
        content: "";
        display: inline;
        position: absolute;
        top: 20%;
        bottom: 0px;
        background-color: v.$c-softBlue;

        @include m.mq(lg){
            left: f.toRem(-50);
        }
    }


}

