@use '../utilities/variables' as v;

.picture-container{
    width: 100%;
    position: relative;

    &::before{
        content: "";
        display: inline;
        position: absolute;
        top: 20%;
        bottom: 0px;
        background-color: v.$c-softBlue;

    }
    

    &--right{
        &::before{
            right: 0;
            left: 20%;
            border-radius: 50% 0 0 50%;
            }
    }

    &--left{
        &::before{
            left: -25px;
            right: 20%;
            bottom: -40px;
            border-radius: 0 50% 50% 0;
        }
    }
}

.picture-img{
    width: 100%;
    z-index: 999;
    object-fit: cover;
    display: inline-block;
    position: relative;

    &::before{
        content: "";
        display: inline;
        position: absolute;
        top: 20%;
        bottom: 0px;
        background-color: v.$c-softBlue;

    }
}

