@use '../utilities/mixins' as m;
@use '../utilities/variables' as v;
@use '../utilities/functions' as f;

.extension{
    @include m.margin-top-sections;
    @include m.general-padding;
}

.extension-inf{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title{
        margin-bottom: 1.5rem;
    }

    &__desc{
        margin-bottom: 1.5rem;
        @include m.mq(sm){
            width: 65%;
        }

        @include m.mq(lg){
            width: 40%;
        }
    }
}

.extension-cards-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

    @include m.mq(sm){
        flex-direction: row;
        height: f.toRem(435);
        align-items: center;
        justify-content: center;
    }

}