@use '../utilities/mixins' as m;
@use '../utilities/variables' as v;
@use '../utilities/functions' as f;

.features{
    @include m.margin-top-sections;
    @include m.general-padding;
}

.features-inf{
    text-align: center;
    
    &__title{
        margin-bottom: 1.5rem;
    }
}

.features-options{
    text-align: center;
    margin-top: 2.5rem;
    margin-bottom: 4.5rem;

    &__item{
        padding-top: 1rem; padding-bottom: 1rem;
        border-top: 1px solid v.$c-grayishBlue;
        font-size: 1.1rem;

        &:last-child{
            border-bottom: 1px solid v.$c-grayishBlue;
        }

        &::before{
            content: "";
            position: absolute;
            bottom: -1px;
            left: 50%;
            transform: translateX(-50%);
            height: 5px;
            width: 0;
            background-color: v.$c-softRed;
            transition: width .3s ease-out;
        }

        &--active{
            position: relative;
            color: v.$c-veryDarkBlue;

            &::before{
                width: 40%;
            }
        }
    }
}

.features-layout{
    width: 100%;
}

.features-layout-inf{
    margin-top: 5.5rem;
    text-align: center;

    &__title{
        margin-bottom: 1rem;

        &--zoomOut{
            @include m.animation-zoomOut;
            animation: animation-zoomOut 1s;
        }

        &--zoomIn{
            @include m.animation-zoomIn;
            animation: animation-zoomIn 1s;
        }
    }



    &__desc{
        &--fadeOut{
            @include m.animation-fadeOut;
            animation: animation-fadeOut 1s;
        }

        &--fadeIn{
            @include m.animation-fadeIn;
            animation: animation-fadeIn 1s;
        }
          
    }
}

.features-img{
    display: none;
    // position: absolute;

    &--active{
        display: inline;
    }

    &--moveOut{
            @include m.animation-mixin(moveOut);
            animation: moveOut 1.5s;
    }
}