@use '../utilities/mixins' as m;
@use '../utilities/variables' as v;
@use '../utilities/functions' as f;

.features{
    @include m.margin-top-sections;
    @include m.general-padding;
}

.features-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.features-inf{
    text-align: center;
    max-width: f.toRem(500);
    
    &__title{
        margin-bottom: 1.5rem;
    }
}

.features-options{
    text-align: center;
    width: 100%;
    max-width: f.toRem(500);

    margin-top: 2.5rem;
    margin-bottom: 4.5rem;

    @include m.mq(md){
        max-width: unset;
        display: flex;
        justify-content: center;
    }

    &__item{
        padding-top: 1rem; padding-bottom: 1rem;
        border-top: 1px solid v.$c-grayishBlue;
        font-size: 1.1rem;

        @include m.mq(md){
            border: none;
            padding: 1rem;
        }

        &:last-child{
            border-bottom: 1px solid v.$c-grayishBlue;
            @include m.mq(md){
                border: none;
            }
        }

        &::before{
            content: "";
            position: absolute;
            bottom: -1px;
            left: 50%;
            transform: translateX(-50%);
            height: 5px;
            width: 0;
            background-color: v.$c-softRed;
            transition: width .3s ease-out;

            @include m.mq(md){
                border: none;
            }
        }

        &--active{
            position: relative;
            color: v.$c-veryDarkBlue;

            &::before{
                width: 40%;
                @include m.mq(md){
                    width: 100%;
                }

            }
        }
    }
}

.features-options-container{
    @include m.mq(md){
        display: flex;
        width: 62%;
        max-width: f.toRem(950);
        
        justify-content: space-between;
        align-items: center;
        gap: 3rem;
        border-bottom: 1px solid v.$c-grayishBlue;

    }
}

.features-layout{
    width: 100%;
    @include m.mq(md){
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 6.5rem;
    }

    @include m.mq(lg){
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 9rem;
    }
}

.features-layout-inf{
    margin-top: 5.5rem;
    text-align: center;

    @include m.mq(md){
        margin-top: unset;
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

    }

    &__title{
        margin-bottom: 1rem;

        @include m.mq(md){
            margin-bottom: unset;
        }

        &--zoomOut{
            @include m.animation-zoomOut;
            animation: animation-zoomOut 1.4s;
        }

        &--zoomIn{
            @include m.animation-zoomIn;
            animation: animation-zoomIn 1.4s;
        }
    }



    &__desc{
        &--fadeOut{
            @include m.animation-fadeOut;
            animation: animation-fadeOut 1.4s;
        }

        &--fadeIn{
            @include m.animation-fadeIn;
            animation: animation-fadeIn 1.4s;
        }
          
    }
}

.features-img{
    display: none;


    &--active{
        display: inline;
        @include m.animation-moveIn;
        animation: animation-moveIn 1.5s forwards;
    }
   
    &--moveOut{
            @include m.animation-mixin(moveOut);
            animation: moveOut 1.5s forwards;
    }
}