@use '../utilities/mixins' as m;
@use '../utilities/variables' as v;
@use '../utilities/functions' as f;

.header{
    position: relative;
}

.header-hero{
    padding-top: 110px;
}

.hero-container{
    width: 100%;
    display: flex;
    flex-direction: column;

    @include m.mq(sm){
        flex-direction: row;
    }
}

.hero-inf{
    margin-top: 50px;
    @include m.general-padding;
    text-align: center;

    @include m.mq(sm){
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    &__title{
        margin-bottom: 1.5rem;
        opacity: 0;
        @include m.animation-loadedPage-headerTitle;
        animation: animation-loadedPage-headerTitle 1s .5s forwards;
    }

    &__desc{
        opacity: 0;
        @include m.animation-loadedPage-headerDesc;
        animation: animation-loadedPage-headerDesc 1s .5s forwards;
    }

    &__buttons{
        opacity: 0;
        margin-top: 1.5rem;
        display: flex;
        justify-content:center;
        gap: 1rem;
        @include m.animation-loadedPage-headerImage;
        animation: animation-loadedPage-headerImage 1.5s .5s forwards; 

        @include m.mq(sm){
            justify-content: left;
        }
    }
}

