@use '../utilities/mixins' as m;
@use '../utilities/variables' as v;
@use '../utilities/functions' as f;

.newsletter{
    @include m.margin-top-sections;
    @include m.general-padding;
    padding-top: 4rem; padding-bottom: 2rem;
    background-color: v.$c-softBlue;
    display: flex;
    justify-content: center;
    align-items: center;

    @include m.mq(sm){
        padding-bottom: 4rem;
    }
}

.newsletter-container{
    max-width: f.toRem(550);

    @include m.mq(sm){
        max-width: f.toRem(375);
    }
}

.newsletter-inf{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: .5rem;

    &__desc{
        text-transform: uppercase;
        color: v.$c-white;
        letter-spacing: .3rem;
        font-size: .8rem;
    }

    &__title{
        color: v.$c-white;
    }
}

.newsletter-form{
    @include m.mq(sm){
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2rem;
        
    }
}

.newsletter-button-container{
    margin-top: 2.5rem;

    @include m.mq(sm){
        margin-top: unset;
    }
}

.newsletter-button{
    width: 100%;
    text-align: center;
    background-color: v.$c-softRed;
    color: v.$c-white;
    transition: all .3s ease-in;

    &:hover{
        background-color: v.$c-white;
        border-color: v.$c-softRed;
        color: v.$c-softRed;
    }
}